#company p{
    margin:10px 0 0 10px;
}


.content > tbody > tr :hover {
    color:#1ABC9C;
} 

.login{
    background-image:url(../images/bg.png);
}

.content .pos{
    margin:0px auto;
    width: 70%; 
}
.login-form {
    margin: 120px auto ;
    background-color: #eceff1;
    border-radius: 6px;
    padding: 24px 40px 20px;
    position: relative;
}
/*
.login-form:before {
content: "";
border-style: solid;
border-width: 12px 12px 12px 0;
border-color: transparent #eceff1 transparent transparent;
height: 0px;
position: absolute;
left: -12px;
top: 35px;
width: 0;
-webkit-transform: rotate(360deg); 
}
 */
    .login-form .login-field {
        border-color: transparent;
        font-size: 17px;
        padding-bottom: 11px;
        padding-top: 11px;
        text-indent: 3px;
        width: 100%; 
    }
    .login-form .login-field:focus + .login-field-icon {
        color: #1abc9c; 
    }

    .login-link {
        color: #bfc9ca;
        display: block;
        font-size: 13px;
        margin-top: 15px;
        text-align: center; 
    }

    .btn-block{
        margin:0px auto;
        width:70%;
    }
    .radio-pos{
        margin:10px auto;
        width:40%;
    }


    /* 标签球 */


    .tagscloud{
        margin:0 0 0 -40px;
        overflow:visable;
    }
    .tagscloud a:hover {
        border: 1px solid #eee; 
        background: #FFF; 
    }
    .tagscloud .blue {color:blue;}
    .tagscloud .red {color:red;}
    .tagscloud .green {color:green;}


    .middle{
        margin: 0px auto;
        width:70%;
    }

div .middle{
        margin: 0px auto;
        width: auto;
    }

    .progress{
        border-radius:30px;
    }
